body {
  &.category 
  {

      .category-heading {
        display: none;
      }
    

    // List View (Used on Sandbox)
    &.categories-list {
      div.list-controls {
        margin-bottom: 0 !important;
        border-radius: 8px 8px 0 0 !important;

        #navigation-bar {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          li:first-of-type a {
            border-radius: 0 !important;
          }
        }

        .navigation-controls {
          margin-bottom: 0;
        }
      }

      #header-list-area {
        background-color: white;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0 0 8px 8px;
      }
    }



    // Category Header (With Logo).
    .category-heading {
      padding: 2rem;
      border-radius: 9px 9px 0 0;
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: " ";
        background: linear-gradient(90deg, rgba(34, 34, 34, 0.9) 20%, rgba(56,56,56,0.5) 60%, rgba(56,56,56,0.7) 100%);
      }

      .category-logo,
      .category-logo img {
        width: 64px;
        height: 64px;
        margin: 0;
        border-radius: 10px;
        position: relative;
        margin-right: 1rem;

        @media screen and (max-width: $tablet - 1px) {
          width: 40px;
          height: 40px;
        }

        img {
          margin-right: 1rem;
        }
      }

      p {
        color: #fff;
        position: relative;

        @media screen and (max-width: $tablet - 1px) {
          font-size: 1rem;
        }
      }
    }

    .list-container,
    .list-container .row {
      &:before {
        display: none;
      }
    }
  }

  .category-boxes,
  .category-boxes-with-topics {
    @media screen and (max-width: $tablet - 1px) {
      flex-direction: column;

      .category-box {
        width: 100%;
      }
    }

    .category-box {
      .category-box-heading {
        a {
          h3 {
            text-align: left;
          }
        }
      }
    }
  }
}
